/*!
 * M.atthew CSS file
 * Called after Bootstrap
 */

/* Add a full page Background */
body {
 margin: 0;
 background-image: url(/assets/common/img/background.jpg);
 background-size: 609px 960px;
 background-repeat:no-repeat;
 display: compact;
}