/*!
 * M.atthew CSS file
 * Called after Bootstrap
 */

/* Add a full page Background */
body {
	margin-top: 50px;
	margin-bottom: 50px;
	background: none;
}

.full {
  background: url(/assets/common/img/background.jpg) no-repeat center top fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Supporting Role of Carousel*/
.owl-carousel .owl-item img {
    height:auto;
    width:100%;
    display: block;
}

.owl-carousel .item {
    margin:0 3px 0 3px;
}